parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - restrict-user-access-block.php
        - index.php
        - uninstall.php
        - includes/
    scanDirectories:
        - vendor/tecnickcom/tcpdf
    scanFiles:
        - stubs/quform.stub
    stubFiles:
        - stubs/wp-custom.stub
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon